# Telegram Bot Configuration
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
OWNER_ID=123456789

# Game Settings (in seconds)
REGISTRATION_TIME=60
EXTEND_TIME=60
NIGHT_TIME=60
DAY_VOTE_TIME=90
LAST_WORDS_TIME=60
